<div class="center ui items">
  <h1>{{share.user_name}} shared {{share.content_type}} with you</h1>
  
  <div class="active item">
    
    <div class="image">
      <img src="" data-ng-src="{{share.content.image_url}}">
    </div>

    <div class="content">
      <div class="ui buttons actions">
        <button class="ui blue button"><i class="like icon"></i></button>
        <div class="ui label ng-binding">{{share.content.wyshes}} Wyshes</div>
        <button class="ui like button"><i class="thumbs up outline icon"></i></button>
        <div class="ui label ng-binding">{{share.content.likes}} Likes</div>
      </div>
      <div class="name ng-binding">{{share.content.name}}</div>
      <p class="price ng-binding">{{share.content.price}}</p>
      <p class="description ng-binding">{{share.content.description}}</p>

      <div class="extended-content">
        <div class="ui section divider"></div>

        <div class="related-list">
          <h3>Related Items</h3>
          <a href="#">
            <img alt="Nextime old fashioned turntable clock" src="/assets/demo/Nextime-Old-fashioned-Turntable-Clock.jpg">
          </a>
          <a href="#">
            <img alt="238118e9dfa790712af9749c56c8ea16" src="/assets/demo/238118e9dfa790712af9749c56c8ea16.jpg">
          </a>
          <a href="#">
            <img alt="105174 l 85" src="/assets/demo/105174_l_85.jpg">
          </a>
        </div>                
      </div>

    </div>
  </div>
</div>
