<div class="category-card" ng-click="mother.redirectToCategory(card.id)">
  <div class="image">
    <img src="" data-ng-src="{{card.image_url}}">
  </div>

  <div class="content category-item">
    <h2>{{ card.name }}</h2>
  </div>
</div>
