<div class="image">
  <img src="" data-ng-src="{{card.image_url}}">

  <div class="ui buttons actions">
    <button class="ui button"
            data-ng-click="mother.wyshItem(card);">
      <i class="like icon"></i>
    </button>
    <div class="ui label">{{card.wyshes}} Wyshes</div>
    <button class="ui like button"
            data-ng-click="mother.likeItem(card);">
      <i class="thumbs up outline icon"></i>
    </button>
    <div class="ui label">{{card.likes}} Likes</div>
    <button class="ui basic close button">close</button>
  </div>

  <div class="ui buttons event actions">
    <button class="ui button add-to-event">
      <i class="calendar icon"></i>
      Add to Event
    </button>
  </div>
</div>
<div class="content">

  <h2 class="name"><a href="#">{{card.name}}</a></h2>
  <div>
    <div class="price left floated">${{card.price}}</div>
    <div class="likes right floated">
      <span class="wyshes-count"><i class="like icon"></i> {{card.wyshes}}</span>
      <span class="likes-count"><i class="thumbs up icon"></i> {{card.likes}}</span>
    </div>
  </div>

  <div class="extended-content">
    <div class="ui section divider"></div>

    <div class="wyshed-by-list">
      <h3>Wyshed by</h3>
      <a href="#" class="circular ui small icon button">
        <i class="icon user"></i>
      </a>
      <a href="#" class="circular ui small icon button">
        <i class="icon user"></i>
      </a>
      <a href="#" class="circular ui small icon button">
        <i class="icon user"></i>
      </a>
      <a href="#" class="circular ui small icon button">
        <i class="icon user"></i>
      </a>
    </div>

    <div class="related-list">
      <h3>Related Items</h3>
      <a href="#">
        <%= image_tag("demo/Nextime-Old-fashioned-Turntable-Clock.jpg") %>
      </a>
      <a href="#">
        <%= image_tag("demo/238118e9dfa790712af9749c56c8ea16.jpg") %>
      </a>
      <a href="#">
        <%= image_tag("demo/105174_l_85.jpg") %>
      </a>
    </div>                
  </div>

</div>
