<div id="wysh-via-url-modal" class="ui modal" ng-controller="CategoriesCtrl">
  <i class="close icon"></i>

  <div class="header">
    Add new Wysh from sites via URL
  </div>
  <div class="content">
    <form class="ui form">
      <div class="field">
        <label>URL</label>
        <div class="ui left input">
          <input type="text" placeholder="http://..." name="url">
        </div>
      </div>

      <input type="submit" class="ui blue submit button" name="" value="Wysh">
      <div class="ui error message"></div>
    </form>
  </div>
</div>
