<div id="header_categories_dropdown" class="ui section dropdown item" ng-controller="CategoriesCtrl">
  <input type="hidden" name="category">
  <div class="text">Browse</div>
  <i class="dropdown icon"></i>
  <div class="menu">
    <div class="item active" ng-click="selectCategory(null);">Anything</div>
    <div class="item" ng-repeat="cat in categories"
    data-value="{{cat.id}}" ng-click="selectCategory(cat.id);">
      {{cat.name}}
    </div>
  </div>
</div>
