<div class="ui dropdown item icon">
  <div data-content="Events">
    <span> Events</span>
    <i class="triangle down icon"></i>
  </div>

  <div class="menu">
    <a href="#" class="item add-new-event">Create an Event</a>
    <a href="/events" class="item">My Events</a>
    <a href="/mock/events/shared" class="item">Shared Events</a>
    <a href="/mock/events/search" class="item">Search</a>
    <a href="#" class="item create-alert">Create an Alert</a>
  </div>
</div>
