<div id="user-notifications" class="ui section dropdown item" ng-show="auth.isLoggedIn()">
  <%= render partial: 'layouts/nav_partials/notifications' %>
</div>

<div id="user-details"  class="ui section dropdown item" ng-show="auth.isLoggedIn()">
  <%= image_tag('demo/user.png', width: '24') %>
  <!--span>{{auth.user.email}}</span-->
  <div class="menu">
    <a href="/account" class="item">Edit Profile</a>
    <a href class="item" ng-click="auth.logout()">Logout</a>
  </div>
</div>
