<div data-content="Peeps">
  <i class="globe icon" style="font-size: 1.5em;"></i>
</div>

<div class="menu">
  <a href="#" class="item"><i class="bullhorn icon"></i> Ivan Dwyer shared an Event With You </a>
  <a href="#" class="item"><i class="red calendar icon"></i> Cole Patterson's birthday is in 5 Days </a>
  <a href="#" class="item"><i class="green checkmark icon"></i> Tom Ochoa Started Following You </a>
  <a href="#" class="item more">See All Notifications</a>
</div>
