<div class="ui dropdown item icon">
  <div data-content="Peeps">
    <span> Peeps</span>
    <i class="triangle down icon"></i>
  </div>

  <div class="menu">
    <a href="#" class="item"> :) Email 1</a>
    <a href="#" class="item"> :) Email 2</a>
    <a href="#" class="item"> :) Email 3</a>
    <a href="#" class="item"> :) Email 4</a>
    <a href="#" class="item"> :) Email 5</a>
    <a href="mock/peeps/see-all" class="item">See All</a>
  </div>
</div>
