<div id="register-modal" class="ui modal">
  <i class="close icon"></i>

  <div class="header">
    <span>Register</span>
  </div>
  <div class="content">
    <div class="ui form">
      <div class="field">
        <label>Email</label>
        <div class="ui left labeled icon input">
          <input name="user[email]" type="text" required
          placeholder="Your email"
          ng-model="registrationData.user.email">
          <i class="user icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Password</label>
        <div class="ui left labeled icon input">
          <input name="user[password]" type="password"
          placeholder="Your password"
          ng-model="registrationData.user.password">
          <i class="lock icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>
      <div class="field">
        <label>Password confirmation</label>
        <div class="ui left labeled icon input">
          <input name="user[password_confirmation]" type="password"
          placeholder="Retype your password"
          ng-model="registrationData.user.password_confirmation">
          <i class="lock icon"></i>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>
      <br>
      <button class="ui blue submit button" ng-click="register()">Register</button>
      <div class="ui error message"></div>
    </div>
  </div>
</div>
