<div class="ui dropdown icon item">
  <div data-content="Your Wysh Lists">
    <span> Lists </span>
  </div>

  <div class="menu">
    <a href="/wysh" class="item">My Wyshes</a>
    <a href="/mock/lists" class="item">My Wysh Lists</a>
  </div>
</div>
