<div class="ui dropdown icon item">
	<div data-content="Your Wysh Lists">
		<span> Wysh List </span>
    <i class="triangle down icon"></i>
	</div>

	<div class="menu">
		<a href="#" class="item">My Wysh List</a>
		<a href="#" class="item">Shared with Me</a>
		<a href="#" class="item">Search</a>
		<a href="#" class="item">Suggested</a>
	</div>
</div>
