<div class="ui dropdown icon item">
  <div data-content="Your Wysh Lists">
    <span> Wysh List </span>
  </div>

  <div class="menu">
    <a href="/wysh" class="item">My Wysh List</a>
    <a href="/mock/wysh-list/shared" class="item">Shared with Me</a>
    <a href="/mock/wysh-list/search" class="item">Search</a>
    <a href="/mock/wysh-list/suggested" class="item">Suggested</a>
  </div>
</div>
