<div id="share-event-modal" class="ui modal">
  <i class="close icon"></i>

  <div class="header">
    Share '<span>My Wyshes</span>'
  </div>
  <div class="content">

        
    <div class="ui form">

      <div class="field">
        <div class="ui left labeled input">
          <input name="" type="text" required
                 placeholder="Email Addresses">
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui left labeled input">
          <textarea name="" required
                    placeholder="Personal Message"></textarea>
          <div class="ui corner label">
            <i class="icon asterisk"></i>
          </div>
        </div>
      </div>
      <div class="ui error message"></div>
    </div>
    <button class="ui blue submit button">Share Wysh List</button>
  </div>
</div>
