<h1>Catalog</h1>

<div class="ui column stackable page grid">
  <div class="ten wide column ui fullwidth items">
    <div class="item">
      <div class="image">
        <img src="http://wyshme-items.s3.amazonaws.com/items/images/000/000/013/original/hungergames.jpg?1386870624">
      </div>
      <div class="content">
        <div class="ui buttons actions">
          <button class="ui button">
            <i class="like icon"></i>
          </button>
          <div class="ui label">1 Wyshes</div>
          <button class="ui like button">
            <i class="thumbs up outline icon"></i>
          </button>
          <div class="ui label">1 Likes</div>
          <button class="ui basic close button">close</button>
        </div>
        <h2 class="name"><a href="#" class="">Hunger Games</a></h2>
        <div>
          <div class="price left floated">$7.99</div>
          <div class="likes right floated">
            <span class="wyshes-count"><i class="like icon"></i> 1</span>
            <span class="likes-count"><i class="thumbs up icon"></i> 1</span>
          </div>
        </div>

        <div class="extended-content">
          <div class="ui section divider"></div>

          <div class="wyshed-by-list">
            <h3>Wyshed by</h3>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
          </div>

          <div class="related-list">
            <h3>Related Items</h3>
            <a href="#">
              <img alt="Nextime old fashioned turntable clock" src="/assets/demo/Nextime-Old-fashioned-Turntable-Clock.jpg">
            </a>
            <a href="#">
              <img alt="238118e9dfa790712af9749c56c8ea16" src="/assets/demo/238118e9dfa790712af9749c56c8ea16.jpg">
            </a>
            <a href="#">
              <img alt="105174 l 85" src="/assets/demo/105174_l_85.jpg">
            </a>
          </div>                
        </div>
      </div>
    </div>


  </div>


  <div class="six wide column ui two-item items">
    

    <div class="item">
      <div class="image">
        <img src="http://wyshme-items.s3.amazonaws.com/items/images/000/000/011/original/graphicdesign.jpg?1386870441">
      </div>
      <div class="content">
        <div class="ui buttons actions">
          <button class="ui button">
            <i class="like icon"></i>
          </button>
          <div class="ui label">1 Wyshes</div>
          <button class="ui like button">
            <i class="thumbs up outline icon"></i>
          </button>
          <div class="ui label">1 Likes</div>
          <button class="ui basic close button">close</button>
        </div>
        <h2 class="name"><a href="#" class="">100 Ideas that Changed Graphic Design</a></h2>
        <div>
          <div class="price left floated">$21.66</div>
          <div class="likes right floated">
            <span class="wyshes-count"><i class="like icon"></i> 1</span>
            <span class="likes-count"><i class="thumbs up icon"></i> 1</span>
          </div>
        </div>

        <div class="extended-content">
          <div class="ui section divider"></div>

          <div class="wyshed-by-list">
            <h3>Wyshed by</h3>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
          </div>

          <div class="related-list">
            <h3>Related Items</h3>
            <a href="#">
              <img alt="Nextime old fashioned turntable clock" src="/assets/demo/Nextime-Old-fashioned-Turntable-Clock.jpg">
            </a>
            <a href="#">
              <img alt="238118e9dfa790712af9749c56c8ea16" src="/assets/demo/238118e9dfa790712af9749c56c8ea16.jpg">
            </a>
            <a href="#">
              <img alt="105174 l 85" src="/assets/demo/105174_l_85.jpg">
            </a>
          </div>                
        </div>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="http://wyshme-items.s3.amazonaws.com/items/images/000/000/005/original/Nextime-Old-fashioned-Turntable-Clock.jpg?1386804078">
      </div>
      <div class="content">
        <div class="ui buttons actions">
          <button class="ui button">
            <i class="like icon"></i>
          </button>
          <div class="ui label">1 Wyshes</div>
          <button class="ui like button">
            <i class="thumbs up outline icon"></i>
          </button>
          <div class="ui label">1 Likes</div>
          <button class="ui basic close button">close</button>
        </div>
        <h2 class="name"><a href="#" class="">Nextime Old-fashioned Turntable Clock</a></h2>
        <div>
          <div class="price left floated">$88.99</div>
          <div class="likes right floated">
            <span class="wyshes-count"><i class="like icon"></i> 1</span>
            <span class="likes-count"><i class="thumbs up icon"></i> 1</span>
          </div>
        </div>

        <div class="extended-content">
          <div class="ui section divider"></div>

          <div class="wyshed-by-list">
            <h3>Wyshed by</h3>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
          </div>

          <div class="related-list">
            <h3>Related Items</h3>
            <a href="#">
              <img alt="Nextime old fashioned turntable clock" src="/assets/demo/Nextime-Old-fashioned-Turntable-Clock.jpg">
            </a>
            <a href="#">
              <img alt="238118e9dfa790712af9749c56c8ea16" src="/assets/demo/238118e9dfa790712af9749c56c8ea16.jpg">
            </a>
            <a href="#">
              <img alt="105174 l 85" src="/assets/demo/105174_l_85.jpg">
            </a>
          </div>                
        </div>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="http://wyshme-items.s3.amazonaws.com/items/images/000/000/014/original/allegiant.jpg?1386870706">
      </div>
      <div class="content">
        <div class="ui buttons actions">
          <button class="ui button">
            <i class="like icon"></i>
          </button>
          <div class="ui label">1 Wyshes</div>
          <button class="ui like button">
            <i class="thumbs up outline icon"></i>
          </button>
          <div class="ui label">1 Likes</div>
          <button class="ui basic close button">close</button>
        </div>
        <h2 class="name"><a href="#" class="">100 Ideas that Changed Graphic Design</a></h2>
        <div>
          <div class="price left floated">$21.66</div>
          <div class="likes right floated">
            <span class="wyshes-count"><i class="like icon"></i> 1</span>
            <span class="likes-count"><i class="thumbs up icon"></i> 1</span>
          </div>
        </div>

        <div class="extended-content">
          <div class="ui section divider"></div>

          <div class="wyshed-by-list">
            <h3>Wyshed by</h3>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
          </div>

          <div class="related-list">
            <h3>Related Items</h3>
            <a href="#">
              <img alt="Nextime old fashioned turntable clock" src="/assets/demo/Nextime-Old-fashioned-Turntable-Clock.jpg">
            </a>
            <a href="#">
              <img alt="238118e9dfa790712af9749c56c8ea16" src="/assets/demo/238118e9dfa790712af9749c56c8ea16.jpg">
            </a>
            <a href="#">
              <img alt="105174 l 85" src="/assets/demo/105174_l_85.jpg">
            </a>
          </div>                
        </div>
      </div>
    </div>

    <div class="item">
      <div class="image">
        <img src="http://wyshme-items.s3.amazonaws.com/items/images/000/000/012/original/artset.jpg?1386870536">
      </div>
      <div class="content">
        <div class="ui buttons actions">
          <button class="ui button">
            <i class="like icon"></i>
          </button>
          <div class="ui label">1 Wyshes</div>
          <button class="ui like button">
            <i class="thumbs up outline icon"></i>
          </button>
          <div class="ui label">1 Likes</div>
          <button class="ui basic close button">close</button>
        </div>
        <h2 class="name"><a href="#" class="">Nextime Old-fashioned Turntable Clock</a></h2>
        <div>
          <div class="price left floated">$88.99</div>
          <div class="likes right floated">
            <span class="wyshes-count"><i class="like icon"></i> 1</span>
            <span class="likes-count"><i class="thumbs up icon"></i> 1</span>
          </div>
        </div>

        <div class="extended-content">
          <div class="ui section divider"></div>

          <div class="wyshed-by-list">
            <h3>Wyshed by</h3>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
            <a href="#" class="circular ui small icon button">
              <i class="icon user"></i>
            </a>
          </div>

          <div class="related-list">
            <h3>Related Items</h3>
            <a href="#">
              <img alt="Nextime old fashioned turntable clock" src="/assets/demo/Nextime-Old-fashioned-Turntable-Clock.jpg">
            </a>
            <a href="#">
              <img alt="238118e9dfa790712af9749c56c8ea16" src="/assets/demo/238118e9dfa790712af9749c56c8ea16.jpg">
            </a>
            <a href="#">
              <img alt="105174 l 85" src="/assets/demo/105174_l_85.jpg">
            </a>
          </div>                
        </div>
      </div>
    </div>


  </div>


</div>

<div class="ui clearing horizontal divider">
  <i class="gift icon"></i>
</div>

<div class="category-list">
  
  <div class="ui six column stackable page grid">
    <div class=" column category-item">
      <div class="image">
        <i class="star icon"></i>
      </div>
      <h2>Popular</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="book icon"></i>
      </div>
      <h2>Books</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="music icon"></i>
      </div>
      <h2>Music</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="camera icon"></i>
      </div>
      <h2>Category Name</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="food icon"></i>
      </div>
      <h2>Food</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="trophy icon"></i>
      </div>
      <h2>Category Name</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="umbrella icon"></i>
      </div>
      <h2>Category Name</h2>
    </div>
    <div class=" column category-item">
    <div class="image">
        <i class="smile icon"></i>
      </div>
      <h2>Fun</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="photo icon"></i>
      </div>
      <h2>Prints</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="home icon"></i>
      </div>
      <h2>Category Name</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="female icon"></i>
      </div>
      <h2>Category Name</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="ticket icon"></i>
      </div>
      <h2>Tickets</h2>
    </div>
  </div>
</div>