<div class="ui one column page grid">
  <div class="four wide column">
    <div class="ui piled segment">

      <h1 class="ui header">
        <i class="list icon"></i> My Wysh List #1
      </h1>

      <div class="ui divider"></div>

      <div class="filters">
        
        <div class="ui selection dropdown">
          <div class="text">Sort By</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="1">Name</div>
            <div class="item" data-value="0">Other</div>
          </div>
        </div>

        <div class="ui selection dropdown">
          <div class="text">Price Range</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="1">Cheap</div>
            <div class="item " data-value="0">Expensive</div>
          </div>
        </div>

        <div class="ui selection dropdown">
          <div class="text">Date Range</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="1">Date</div>
          </div>
        </div>

        <div class="ui icon search-field input right floated">
          <input type="text" placeholder="Filter..">
          <i class="search link icon"></i>
        </div>


      </div>


      

    </div>
  </div>
</div>