<h1>Catalog</h1>

<div class="ui column stackable page grid">
  <div class="ten wide column ui fullwidth items">
    <!-- It must be styled inside the same Deckgrid if possible. -->
    <!-- <div deckgrid source="firstItem"
         cardTemplate="/templates/deckgrid_card"
         class="deckgrid clearfix"></div>
     -->
  </div>
  <div class="six wide column ui two-item items">
    <div deckgrid source="allFeaturedItems"
         cardTemplate="/templates/deckgrid_card"
         class="deckgrid clearfix"></div>
  </div>
</div>

<div class="ui clearing horizontal divider">
  <i class="gift icon"></i>
</div>

<div class="category-list" ng-controller="CategoriesCtrl">
  <div class="ui six column stackable page grid">
    <div deckgrid source="categories"
         cardTemplate="/templates/category_card"
         class="deckgrid clearfix">
    </div>
  </div>
</div>
