<h1>Catalog</h1>

<div class="ui column stackable page grid">
  <div class="ten wide column ui fullwidth items">
    <div deckgrid source="firstItem" cardTemplate="/templates/deckgrid_card" class="deckgrid clearfix"></div>
  </div>
  <div class="six wide column ui two-item items">
    <div deckgrid source="allFeaturedItems" cardTemplate="/templates/deckgrid_card" class="deckgrid clearfix"></div>
</div>

<div class="ui clearing horizontal divider">
  <i class="gift icon"></i>
</div>

<div class="category-list">

  <div class="ui six column stackable page grid">
    <div class=" column category-item">
      <div class="image">
        <i class="star icon"></i>
      </div>
      <h2>Popular</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="book icon"></i>
      </div>
      <h2>Books</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="music icon"></i>
      </div>
      <h2>Music</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="camera icon"></i>
      </div>
      <h2>Category Name</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="food icon"></i>
      </div>
      <h2>Food</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="trophy icon"></i>
      </div>
      <h2>Category Name</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="umbrella icon"></i>
      </div>
      <h2>Category Name</h2>
    </div>
    <div class=" column category-item">
    <div class="image">
        <i class="smile icon"></i>
      </div>
      <h2>Fun</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="photo icon"></i>
      </div>
      <h2>Prints</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="home icon"></i>
      </div>
      <h2>Category Name</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="female icon"></i>
      </div>
      <h2>Category Name</h2>
    </div>
    <div class=" column category-item">
      <div class="image">
        <i class="ticket icon"></i>
      </div>
      <h2>Tickets</h2>
    </div>
  </div>
</div>
