<div id="user-profile">
  <div class="avatar">
    <%= image_tag("demo/ivan.jpg") %>
  </div>
  <div class="user-details">
    <h1>
      Ivan Dwyer
      <span class="social" style="float:right;">
        <a href="#" class="ui facebook icon button"><i class="facebook icon"></i></a>
        <a href="#" class="ui twitter icon button"><i class="twitter icon"></i></a>
      </span>
    </h1>
    <p>
      <i class="globe icon"></i> San Francisco Bay Area<br>
      <i class="info icon"></i> Embracing technology while preserving integrity. Global biz dev professional / rare groove DJ
    </p>
  </div>

</div>
<div class="ui clearing divider"></div>
<h1 style="text-align: center;">Ivan's Wyshes</h1>

<div id="wysh-list" class="ui items">
  <div class="item" ng-repeat="item in items">
    <div class="image">
      <img src="{{item.image_url}}">
    </div>
    <div class="content">
      <div class="ui buttons actions">
        <button class="ui blue button"><i class="gift icon"></i></button>
        <div class="ui label">{{item.wyshes}} Wyshes</div>
        <button class="ui button"><i class="like icon"></i></button>
        <div class="ui label">{{item.likes}} Likes</div>
        <button class="ui basic close button">close</button>
      </div>
      <div class="name">{{item.name}}</div>
      <p class="price">${{item.price}}</p>
      <p class="description">{{item.description}}</p>

      <div class="extended-content">
        <div class="ui section divider"></div>

        <div class="wyshed-by-list">
          <h3>Wyshed by</h3>
          <a href="#" class="circular ui small icon button">
            <i class="icon user"></i>
          </a>
          <a href="#" class="circular ui small icon button">
            <i class="icon user"></i>
          </a>
          <a href="#" class="circular ui small icon button">
            <i class="icon user"></i>
          </a>
          <a href="#" class="circular ui small icon button">
            <i class="icon user"></i>
          </a>
        </div>

        <div class="related-list">
          <h3>Related Items</h3>
          <a href="#">
            <%= image_tag("demo/Nextime-Old-fashioned-Turntable-Clock.jpg") %>
          </a>
          <a href="#">
            <%= image_tag("demo/238118e9dfa790712af9749c56c8ea16.jpg") %>
          </a>
          <a href="#">
            <%= image_tag("demo/105174_l_85.jpg") %>
          </a>
        </div>                
      </div>

      <div class="extra">
          <span class="wyshes-count left floated">{{item.wyshes}} Wyshes</span>
          <span class="likes-count right floated">{{item.likes}} Likes</span>
      </div>
    </div>
  </div>

</div>
