<div id="add-to-event-modal" class="ui modal">
  <i class="close icon"></i>

  <div class="content">
    <div class="ui two column divided grid">
      <div class="column">
        <div class="share-thumb">
          <img src="http://wyshme-items.s3.amazonaws.com/items/images/000/000/007/original/633e34425381befd25deced140d9f628.jpg?1386804209">
        </div>  
      </div>

      <div class="column">
        
        <div class="ui form">
          <h4>Adapter</h4>

          <div class="field">
            <div class="ui left labeled input">
              <input name="" type="text" required
                     placeholder="Email Addresses">
              <div class="ui corner label">
                <i class="icon asterisk"></i>
              </div>
            </div>
          </div>
          <div class="field">
            <div class="ui left labeled input">
              <textarea name="" required
                        placeholder="Personal Message"></textarea>
              <div class="ui corner label">
                <i class="icon asterisk"></i>
              </div>
            </div>
          </div>
          <div class="ui error message"></div>
        </div>
        <button class="ui blue submit button">Share Item</button>
      </div>
    </div>


  </div>
</div>
