<div>
  <div class="ui two column stackable page grid">
    <h3 class="welcome-text">WyshMe makes it easy to send the perfect gift to your friends and family on their special events, and helps you receive the gifts you really want!</h3> 
    <div class="column" ng-controller="AuthCtrl">
      <div id="home-registration" class="ui form segment" ng-hide="auth.isLoggedIn()">
        <h4>Start adding your Wyshes right now!</h4>
        <div class="field">
          <label>Email</label>
          <div class="ui left labeled icon input">
            <input name="user[email]" type="text" required
            placeholder="Your email"
            ng-model="registrationData.user.email">
            <i class="user icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Password</label>
          <div class="ui left labeled icon input">
            <input name="user[password]" type="password"
            placeholder="Your password"
            ng-model="registrationData.user.password">
            <i class="lock icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <div class="field">
          <label>Password confirmation</label>
          <div class="ui left labeled icon input">
            <input name="user[password_confirmation]" type="password"
            placeholder="Retype your password"
            ng-model="registrationData.user.password_confirmation">
            <i class="lock icon"></i>
            <div class="ui corner label">
              <i class="icon asterisk"></i>
            </div>
          </div>
        </div>
        <br>
        <button class="ui blue submit button" ng-click="register()">Register</button>&nbsp;&nbsp; or&nbsp; <a href="#" class="login-toggler">Login</a>
        <div class="ui error message"></div>
      </div>
    </div>
    <div class="column">
      <h4 class="ui inverted black block header" style="margin-top: 1em;">Latest Wyshes</h4>
      <div class="ui items latest-wyshes">
        <div class="item">
          <div class="image" style="background-image:url(/assets/demo/Nextime-Old-fashioned-Turntable-Clock.jpg)">
          </div>
        </div> 
        <div class="item">
          <div class="image" style="background-image:url(/assets/demo/26490938_018_b.jpg)">
          </div>
        </div> 
        <div class="item">
          <div class="image" style="background-image:url(/assets/demo/05cea7c294cdda1708708c8ea87e2dac.jpg)">
          </div>
        </div> 
        <div class="item">
          <div class="image" style="background-image:url(/assets/demo/05cea7c294cdda1708708c8ea87e2dac.jpg)">
          </div>
        </div> 
        <div class="item">
          <div class="image" style="background-image:url(/assets/demo/105174_l_85.jpg)">
          </div>
        </div>  
      </div>

      <h4 class="ui inverted black block header">Latest Wyshers</h4>
      <div class="ui items latest-wyshers">
        <div class="item">
          <div class="image" style="background-image:url(/assets/demo/ivan.jpg)">
          </div>
        </div> 
        <div class="item">
          <div class="image" style="background-image:url(/assets/demo/yaron.jpg)">
          </div>
        </div> 
        <div class="item">
          <div class="image" style="background-image:url(/assets/demo/yury.jpg)">
          </div>
        </div> 
        <div class="item">
          <div class="image" style="background-image:url(/assets/demo/chad.png)">
          </div>
        </div> 
        <div class="item">
          <div class="image" style="background-image:url(/assets/demo/andy.jpg)">
          </div>
        </div>  
      </div>
      
    </div>
    <div class="ui clearing horizontal divider">
      <i class="heart icon"></i>
    </div>
    <a href="#" class="ui massive button positive read-more">See How WyshMe Works <i class="arrow right icon"></i></a>
  </div>
</div>

<br>
<br>
<br>



<h1 style="text-align: center;">All Items</h1>

<div id="wysh-list" class="ui items">
  <div class="item" ng-repeat="item in items">
    <div class="image">
      <img src="{{item.image_url}}">
    </div>
    <div class="content">
      <div class="ui buttons actions">
        <button class="ui wysh-color-1 button"><i class="like icon"></i></button>
        <div class="ui label">{{item.wyshes}} Wyshes</div>
        <button class="ui wysh-color-2 like button"><i class="thumbs up outline icon"></i></button>
        <div class="ui label">{{item.likes}} Likes</div>
        <button class="ui basic close button">close</button>
      </div>
      <h2 class="name">{{item.name}}</h2>
      <p class="price">${{item.price}}</p>
      <p class="description">{{item.description}}</p>

      <div class="extended-content">
        <div class="ui section divider"></div>

        <div class="wyshed-by-list">
          <h3>Wyshed by</h3>
          <a href="#" class="circular ui small icon button">
            <i class="icon user"></i>
          </a>
          <a href="#" class="circular ui small icon button">
            <i class="icon user"></i>
          </a>
          <a href="#" class="circular ui small icon button">
            <i class="icon user"></i>
          </a>
          <a href="#" class="circular ui small icon button">
            <i class="icon user"></i>
          </a>
        </div>

        <div class="related-list">
          <h3>Related Items</h3>
          <a href="#">
            <%= image_tag("demo/Nextime-Old-fashioned-Turntable-Clock.jpg") %>
          </a>
          <a href="#">
            <%= image_tag("demo/238118e9dfa790712af9749c56c8ea16.jpg") %>
          </a>
          <a href="#">
            <%= image_tag("demo/105174_l_85.jpg") %>
          </a>
        </div>                
      </div>

      <div class="extra">
        <span class="wyshes-count left floated">{{item.wyshes}} Wyshes</span>
        <span class="likes-count right floated">{{item.likes}} Likes</span>
      </div>
    </div>
  </div>

</div>
<div id="selected-item">
  <div class="ui inverted dimmer">
    <div class="" style="position:fixed;width: 100%;">


      <div class="ui text loader">Loading</div>
      <div class="center ui items">
        <div class="active item">
          <button class="ui basic close button"><i class="remove icon"></i></button>
          
          <div class="image">
            <img src="/assets/demo/05cea7c294cdda1708708c8ea87e2dac.jpg">
          </div>

          <div class="content">
            <div class="ui buttons actions">
              <button class="ui blue button"><i class="like icon"></i></button>
              <div class="ui label">115 Wyshes</div>
              <button class="ui like button"><i class="thumbs up outline icon"></i></button>
              <div class="ui label">25 Likes</div>
            </div>
            <div class="name">Cute Dog</div>
            <p class="price">$88.99</p>
            <p class="description">Just a dog and his monkey :))</p>

            <div class="extended-content">
              <div class="ui section divider"></div>

              <div class="wyshed-by-list">
                <h3>Wyshed by</h3>
                <a href="#" class="circular ui small icon button">
                  <i class="icon user"></i>
                </a>
                <a href="#" class="circular ui small icon button">
                  <i class="icon user"></i>
                </a>
                <a href="#" class="circular ui small icon button">
                  <i class="icon user"></i>
                </a>
                <a href="#" class="circular ui small icon button">
                  <i class="icon user"></i>
                </a>
              </div>

              <div class="related-list">
                <h3>Related Items</h3>
                <a href="#">
                  <img alt="Nextime old fashioned turntable clock" src="/assets/demo/Nextime-Old-fashioned-Turntable-Clock.jpg">
                </a>
                <a href="#">
                  <img alt="238118e9dfa790712af9749c56c8ea16" src="/assets/demo/238118e9dfa790712af9749c56c8ea16.jpg">
                </a>
                <a href="#">
                  <img alt="105174 l 85" src="/assets/demo/105174_l_85.jpg">
                </a>
              </div>                
            </div>

            <div class="extra">
              <span class="wyshes-count"><i class="like icon"></i> 115</span>&nbsp;
              <span class="likes-count"><i class="thumbs up icon"></i> 25</span>
            </div>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>
