<div id="account-sidebar" class="ui purple vertical demo sidebar menu">
  <a class=" item">
    <i class="heart icon"></i>
    My Lists
  </a>
  <a class="item">
    <i class="calendar icon"></i>
    My Calendar
  </a>
  <a class="active item">
    <i class="user icon"></i>
    Personal Information
  </a>
  <a class="item">
    <i class="facebook icon"></i>
    <i class="twitter icon"></i>
    Social Account
  </a>
  <a class="item">
    <i class="mail icon"></i>
    Contacts
  </a>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
</div>
<div id="account-content" style="margin-left: 260px; padding: 2em;">
  
  <div class="tabs">
    <div class="tab panel">
      <div class="ui three steps">
        <div class="ui active step">
          Personal Information
        </div>
        <div class="ui step">
          Social Accounts
        </div>
        <div class="ui step">
          Import Contacts
        </div>
      </div>
    </div>


    <div class="tab content">
        
      <div class="ui segment">
        <div class="ui form">

          <h2 class="ui dividing header">Add details about yourself</h2>
          <br>
          <br>

          <div class="two fields">
            <div class="field">
              <label>First Name</label>
              <input placeholder="First Name" type="text">
            </div>
            <div class="field">
              <label>Last Name</label>
              <input placeholder="Last Name" type="text">
            </div>
          </div>

          <div class="field">
            <label>Username</label>
            <div class="ui left input">
              <input type="text" placeholder="Username">
            </div>
          </div>
          <div class="field">
            <label>Birthday</label>
            <div class="ui left labeled icon input">
              <input type="text" placeholder="">
            </div>
          </div>

          <div class="grouped inline fields">
            <label>Gender</label>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="male">
                <label>Male</label>
              </div>
            </div>
            <div class="field">
              <div class="ui radio checkbox">
                <input type="radio" name="female">
                <label>Female</label>
              </div>
            </div>
          </div>

          <div class="field">
            <label>Location</label>
            <div class="ui left labeled icon input">
              <input type="text" placeholder="">
            </div>
          </div>

          <div class="field">
            <label>About Me</label>
            <div class="ui left labeled icon input">
              <input type="text" placeholder="">
            </div>
          </div>

          <div class="ui move-steps buttons right floated">
            <button class="ui button">Skip</button>
            <div class="or"></div>
            <button class="ui blue next button">Step 2</button>
          </div>
        </div>

      </div>

      <div class="ui segment">
        <div class="ui form">

          <h2 class="ui dividing header">Find people you know wyshes</h2>
          <br>
          <br>

          <div class="field">
            <div class="ui facebook button">
              <i class="facebook icon"></i>
              Connect with Facebook
            </div>
          </div>

          <div class="field">
            <div class="ui twitter button">
              <i class="twitter icon"></i>
              Connect with Twitter
            </div>
          </div>

          <div class="field">
            <div class="ui google plus button">
              <i class="google plus icon"></i>
              Connect with Google+
            </div>
          </div>
          <br>
          <hr>

          <div class="ui move-steps buttons right floated">
            <button class="ui button">Skip</button>
            <div class="or"></div>
            <button class="ui blue next button">Step 3</button>
          </div>
        </div>

      </div>


      <div class="ui segment">
        <div class="ui form">

          <h2 class="ui dividing header">Find people you know wyshes</h2>
          <br>
          <br>

          <div class="field">
            <div class="ui google plus button">
              <i class="mail icon"></i>
              Import Gmail Contacts
            </div>
          </div>

          <div class="field">
            <div class="ui facebook button">
              <i class="mail icon"></i>
              Import Yahoo Contacts
            </div>
          </div>

          <div class="field">
            <div class="ui regular-mail button">
              <i class="mail icon"></i>
              Upload Contacts
            </div>
          </div>
          <br>
          <hr>

          <div class="ui buttons right floated">
            <button class="ui button">Skip and Finish</button>
            <div class="or"></div>
            <button class="ui blue button">Finish!</button>
          </div>
        </div>

      </div>

      
    </div>
  </div>


</div>