@import "variables";

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#app {
  background: $bgColor;

  .container {
    padding: 1em;
    max-width: 1700px;
    margin: 0 auto;

    h1 {
      text-align: center;
      margin: .5em 0 1em;
      position: relative;

      .button.right.floated {
        position: absolute;
        top: 0;
        right: 0;
      }

      i.icon {
        display: inline;
        opacity: .3;
        filter:alpha(opacity=30);
        vertical-align: top;
      }
    }
  }

  > .segment {
    padding-top: 50px;
  }

  #logo, #logo a {
    font-family: 'Chango', cursive;
    color: #5856D6;
    text-decoration: none;
    padding: 0.7em 0.95em 0.4em;
  }

  #wysh-list-brief {
    position: absolute;
    top: 30px;
    right: 0;
    width: 20em;
    display: none;

    .ui.list .item > .content {
      width: 14em;

      .header {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .new-wysh-list {
      position: absolute;
      top: 20px;
      right: 15px;
      text-decoration: none;
      color: #555;
      font-size: 1.3em;
    }
  }

  .ui.items {
    > .item {
      cursor: default;
      border-radius: 0;
      box-shadow: none;

      > .content {
        padding: 0.75em 0;
      }

      h2 {
        font-size: 1rem;
        line-height: 1.4em;
        font-weight: normal;
        margin-bottom: .5em;
      }

      .price {
        font-weight: bold;
      }

      .likes {
        opacity: .4;
        font-size: .75em;
        line-height: 1.5em;

        .icon {
          margin: 0;

          &.like.icon {
            font-size: .9em;
          }
        }

        > span:first-child {
          margin-right: .25em;
        }
      }

      .name, .name a {
        cursor: pointer;
        color: inherit;
        text-decoration: none;
      }
      .name:hover {
        text-decoration: underline;
      }
      .extended-content {
        display: none;

        .related-list {
          a {
            margin-right: 1em;
            img {
              max-width: 4em;
              max-height: 4em;
            }
          } 
        }
      }

      .ui.buttons.actions {
        position: absolute;
        top: 1em;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width: 10em;
        display: none;

        .wysh-color-1 {
          background: $primary;

          .icon {
            color: rgba(255, 255, 255, 0.9);
          }
        }

        .wysh-color-2 {
          background: $secondary;

          .icon {
            color: rgba(255, 255, 255, 0.9);
          }
        }

        button {
          width: 48%;
          margin-right: 4%;
          color: #222;
          padding: 0.5em 0;
          border-radius: 5px;
          text-align: center;
          background: #444;
          border: 3px solid rgba(0, 0, 0, 0.7);
          background: #F8F8F8;


          &.like {
            margin: 0;
          }

          > .icon {
            font-size: 2em;
            margin: 0;
          }

          &.close {
            border-radius: 5px;
            display: none;
          }
        }

        .ui.label {
          height: 3em;
          float: left;
          margin: 0 1em 0 0;
          padding: 0.5em 1em .5em 1em;
          border-radius: 0 4px 4px 0;
          font-size: 1em;
          line-height: 2em;
          display: none;
          border: 1px solid #DDD;
          border-left: none;
          background: #F8F8F8;
          text-transform: none;
        }
      }

      &:not(.active):hover  {
        .ui.buttons.actions {
          display: block;
        }
      }

      .description {
        clear: none;
      }
      
      &.active {
        float: none;
        width: 80%;
        text-align: left;
        vertical-align: top;
        clear: both;
        margin: 20px auto 0;
        cursor: default;
        z-index: 1001;

        .close.button {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 2em;
          padding: 0;
          box-shadow: none;
          width: 1.5em;
          text-align: center;
          height: 1.5em;

          &:active {
            background: none !important;
            box-shadow: none !important;
          }
        }   

        .extended-content {
          display: block;
        }

        .image {
          float: none;
          width: 40%;
          display: inline-block;
          margin: 0 3% 0 0;
          cursor: default;
        }

        .content {
          display: inline-block;
          width: 55%;
          vertical-align: top;
        }

        .ui.buttons.actions {
          display: inline-block;
          position: relative;
          left: 0;
          top: 0;
          -webkit-transform: translate(0,0);
          -moz-transform: translate(0,0);
          transform: translate(0,0);
          width: auto;
          margin: 1em 0 2em;

          button {
            width: 100px;
            margin: 0;
          }

          .ui.label { 
            display: inline-block;
            height: 3.4em;
            border: none;
          }

          .close {
            display: inline-block;
          }
        }
      }
    }

    &.fullwidth {
      margin: 0;

      > .item {
        width: 100%;
        font-size: inherit;

        > .image {
          height: 400px;
          overflow: hidden;

          > img {
            margin-top: -25%;
          }
        }
      }
    }

    &.two-item {
      margin: 0;

      > .item {
        width: 49%;
        min-height: 200px;
        margin: 0 2% 2% 0;

        .name {
          font-size: .95em;
        }

        &:nth-child(2n) {
          margin-right: 0;
        }

        > .image {
          height: 120px;
          overflow: hidden;

          > img {
            margin-top: -25%;
          }
        }
      }
    }
  }

  .extra {
    font-size: .9em;
  }

  #account-sidebar {
    margin-top: 50px !important;

    -webkit-transition: none;
    -moz-transition:    none;
    -ms-transition:     none;
    transition:         none;
    
  }

  .ui.menu {
    .item {
      padding: 0.85em 0.75em .75em;
      font-size: .95rem;

      &.more {
        text-align: center;
      }

      &:before {
        background: none;
      }
    }
  } 

  .main.menu .right.menu {
    .dropdown.item .menu {
      right: 0;
      left: auto;
    }
  }

  #user-notifications {
    padding: 0.6em 0.5em .5em;
  }

  #user-details {
    padding: 0.7em 0.5em .75em;
    margin-right: 10px;

    img {
      float: left;
    }

    span {
      display: inline-block;
      margin-top: 5px;
    }
  }

  #user-profile {
    display: table;
    width: 70%;
    margin: 0 auto;

    .avatar {
      display: table-cell;
      padding-right: 30px;
      img {
        width: 150px;
      }
    }

    .user-details {
      display: table-cell;
      vertical-align: top;
    }
  }

  .read-more {
    display: block;
    margin: 1em auto 0em;
    width: 18em;
    max-width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
  }

  .welcome-text {
    text-align: center;
    line-height: 1.5em;
    color: $secondary;
  }
} 


// Helpers
// ------------------------------------------------------

.left.floated {
  float: left;
}

.right.floated {
  float: right;
}


