$bgColor:       #eeeeee !default;
$primary:       #A14A9C !default;
$secondary:     #4CD964 !default;
body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

#app {
  background: $bgColor;

  .container {
    padding: 1em;
    max-width: 1700px;
    margin: 0 auto;
  }

  > .segment {
    padding-top: 50px;
  }

  #logo, #logo a {
    font-family: 'Chango', cursive;
    color: #5856D6;
    text-decoration: none;
  }

  #wysh-list-toggler {
    text-decoration: none;
  }

  #wysh-list-brief {
    position: absolute;
    top: 30px;
    right: 0;
    width: 20em;
    display: none;

    .ui.list .item > .content {
      width: 14em;

      .header {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .new-wysh-list {
      position: absolute;
      top: 20px;
      right: 15px;
      text-decoration: none;
      color: #555;
      font-size: 1.3em;
    }
  }

  .ui.items {
    > .item {
      cursor: default;

      .image, .name {
        cursor: pointer;
      }
      .name:hover {
        text-decoration: underline;
      }
      .extended-content {
        display: none;

        .related-list {
          a {
            margin-right: 1em;
            img {
              max-width: 4em;
              max-height: 4em;
            }
          } 
        }
      }

      .ui.buttons.actions {
        position: absolute;
        top: 1em;
        left: 50%;
        -webkit-transform: translate(-50%, 0);
        -moz-transform: translate(-50%, 0);
        transform: translate(-50%, 0);
        width: 10em;
        display: none;

        .wysh-color-1 {
          background: $primary;

          .icon {
            color: rgba(255, 255, 255, 0.9);
          }
        }

        .wysh-color-2 {
          background: $secondary;

          .icon {
            color: rgba(255, 255, 255, 0.9);
          }
        }

        button {
          padding: 0.4em 1em;
          height: 3em;
          width: 5em;

          &.like {
            border-radius: 0 4px 4px 0;
          }

          > .icon {
            font-size: 2em;
            margin: 0;

            &.like {
              font-size: 1.5em;
            }
          }

          &.close {
            border-radius: 5px;
            display: none;
          }
        }

        .ui.label {
          height: 3em;
          float: left;
          margin: 0 1em 0 0;
          padding: 0.5em 1em .5em 1em;
          border-radius: 0 4px 4px 0;
          font-size: 1em;
          line-height: 2em;
          display: none;
          border: 1px solid #DDD;
          border-left: none;
          background: #F8F8F8;
          text-transform: none;
        }
      }

      &:hover  {
        .ui.buttons.actions {
          display: block;
        }
      }

      .description {
        clear: none;
      }
      
      &.active {
        float: none;
        width: 80%;
        text-align: left;
        vertical-align: top;
        clear: both;
        margin: 20px auto 0;
        cursor: default;
        z-index: 1001;

        .close.button {
          position: absolute;
          top: 0;
          right: 0;
          font-size: 2em;
          padding: 0;
          box-shadow: none;
          width: 1.5em;
          text-align: center;
          height: 1.5em;

          &:active {
            background: none !important;
            box-shadow: none !important;
          }
        }   

        .extended-content {
          display: block;
        }

        .image {
          float: none;
          width: 40%;
          display: inline-block;
          margin: 0 3% 0 0;
          cursor: default;
        }

        .content {
          display: inline-block;
          width: 55%;
          vertical-align: top;
        }

        .ui.buttons.actions {
          display: inline-block;
          position: relative;
          left: 0;
          top: 0;
          -webkit-transform: translate(0,0);
          -moz-transform: translate(0,0);
          transform: translate(0,0);
          width: auto;
          margin: 1em 0 2em;

          .like {
            border-radius: 4px 0 0 4px;
          }

          .ui.label { 
            display: inline-block;
          }

          .close {
            display: inline-block;
          }
        }
      }
    }
  }

  .extra {
    font-size: .9em;
  }

  #account-sidebar {
    margin-top: 44px !important;
  }

  #user-details {
    img {
      float: left;
      margin-right: 10px;
    }

    span {
      display: inline-block;
      margin-top: 5px;
    }
  }

  #user-profile {
    display: table;
    width: 70%;
    margin: 0 auto;

    .avatar {
      display: table-cell;
      padding-right: 30px;
      img {
        width: 150px;
      }
    }

    .user-details {
      display: table-cell;
      vertical-align: top;
    }
  }

  .read-more {
    display: block;
    margin: 1em auto 0em;
    width: 18em;
  }

  .welcome-text {
    text-align: center;
    line-height: 1.5em;
    color: #A14A9C;
  }
} 
