.category-list {
  text-align: center;
  margin-top: 4em;


  .category-item {
    margin-bottom: 2em;

    .image {
      margin-bottom: .67em;
      text-align: center;

      .icon {
        margin: 0;
        font-size: 3em;
      }
    }

    h2 {
      text-align: center;
      font-size: 1.2em;
      line-height: 1.2em;
      color: #AAA;
      font-weight: normal;
    }
  }
}

.deckgrid[deckgrid]::before {
    content: '5 .column.size-1-5.ui.items .item';
    display:none;
}
