@media (max-width: 639px) {
  .social.buttons {
    .button, .ui.button {
      float: none;
      display: block;
      width: 100%;
      margin: 0 0 .5em;
      padding: .8em .5em .8em;
      text-align: center;
    }

  } 
}

@media only screen and (max-width: 768px) {
  .ui.stackable.grid > .row > .column, .ui.stackable.grid > .column {
    margin: 1.5em 0% 0em !important;
  }

  #add-to-event-modal .event-list {
    .ui.selection.dropdown {
      width: 100%;
      margin-bottom: 10px;
    }
    .submit.button {
      float: none;
      width: 100%;
    }
  }
}