// overwrite app specific Semantic UI here
.ui.menu.fixed {
  z-index: 11;
}

.ui.segment:first-child {
  margin: 1em 0em !important;
}

.ui.menu .item.icon > a {
  text-decoration: none;
}

.ui.page.grid {
  min-width: 240px;
}