// overwrite app specific Semantic UI here
.ui.menu.fixed {
  z-index: 10001;
}

.ui.segment:first-child {
  margin: 1em 0em !important;
}

.ui.menu .item.icon > a {
  text-decoration: none;
}

.ui.page.grid {
  min-width: 240px;
}

.ui.selection.dropdown,
.ui.selection.dropdown .menu,
.ui.selection.dropdown.active,
.dropdown.item .menu,
.ui.form textarea,
.ui.form input[type="text"],
.ui.form input[type="email"],
.ui.form input[type="date"],
.ui.form input[type="password"],
.ui.form input[type="number"],
.ui.form input[type="url"],
.ui.form input[type="tel"],
.ui.input input,
.ui.modal {
  border-radius: 0 !important;
}

.ui.buttons .button, .ui.button {
  border-radius: 2px;
}