<div class="ui one column page grid">
  <div class="four wide column" ng-controller="CategoryShowCtrl"
       data-category ="<%= @id %>" id="div-data-category">
    <div class="ui piled segment">
      <h1 class="ui header">
        {{category.name}}
      </h1>

      <div class="ui divider"></div>

      <div class="filters">

        <div class="ui selection dropdown">
          <div class="text">Sort By</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" ng-repeat="o in order" ng-click="setSortByFilter(o.value)">{{o.label}}</div>
          </div>
        </div>

        <div class="ui selection dropdown">
          <div class="text">Price Range</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" ng-repeat="pr in priceRanges" data-value="{{pr}}" ng-click="setPriceRangeFilter(pr)")>${{pr.from}} - ${{pr.to}}</div>
          </div>
        </div>

        <div class="ui selection dropdown">
          <div class="text">Date Range</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item" data-value="1">Date</div>
          </div>
        </div>

        <div class="ui icon search-field input right floated">
          <input type="text" placeholder="Filter.." ng-model="keyword" ng-change="setKeywordFilter(keyword)">
          <i class="search link icon"></i>
        </div>
    </div>
  </div>

  <div deckgrid source="items" cardTemplate="/templates/deckgrid_card" class="deckgrid clearfix"></div>
</div>
