<div id="account-sidebar" class="ui red vertical demo sidebar menu">
  <a class="active item">
    <i class="heart icon"></i>
    My Lists
  </a>
  <a class="item">
    <i class="calendar icon"></i>
    My Calendar
  </a>
  <a class="item">
    <i class="user icon"></i>
    Personal Information
  </a>
  <a class="item">
    <i class="facebook icon"></i>
    <i class="twitter icon"></i>
    Social Account
  </a>
  <a class="item">
    <i class="mail icon"></i>
    Contacts
  </a>
  <a class="item">
    <i class="settings icon"></i>
    Settings
  </a>
</div>