

<div class="ui fixed transparent main menu">
  <div class="container">
    <div id="logo" class="left item">
      WyshMe
    </div>
    <div class="left menu">
      <div class="ui section dropdown item">
        <input type="hidden" name="category">
        <div class="text">Browse Categories</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          <div class="item active" data-value="0">Anything</div>
          <div class="item" data-value="1">Popular</div>
          <div class="item" data-value="2">Gifts</div>
          <div class="item" data-value="3">Animals</div>
          <div class="item" data-value="4">Art</div>
          <div class="item" data-value="5">Design</div>
        </div>
      </div>
    </div>



    <div class="right menu">
      <div class="item">
        <a href="#" class="login-toggler">Login</a>
        or <a href="#" class="register-toggler">Register</a>

        <div id="login-modal" class="ui modal">
          <i class="close icon"></i>

          <div class="header">
            <span>Login</span>
          </div>
          <div class="content">
            <div class="ui form">
              <div class="field">
                <label>Username</label>
                <div class="ui left labeled icon input">
                  <input type="text" placeholder="Username">
                  <i class="user icon"></i>
                  <div class="ui corner label">
                    <i class="icon asterisk"></i>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Password</label>
                <div class="ui left labeled icon input">
                  <input type="password">
                  <i class="lock icon"></i>
                  <div class="ui corner label">
                    <i class="icon asterisk"></i>
                  </div>
                </div>
              </div>
              <div class="ui error message">
                <div class="header">We noticed some issues</div>
              </div>
              <button class="ui blue submit button">Login</button>
            </div>
          </div>
        </div>

        <div id="register-modal" class="ui modal">
          <i class="close icon"></i>

          <div class="header">
            <span>Register</span>
          </div>
          <div class="content">
            <div class="ui form">

              <div class="field">
                <label>Username</label>
                <div class="ui left labeled icon input">
                  <input type="text" placeholder="Username">
                  <i class="user icon"></i>
                  <div class="ui corner label">
                    <i class="icon asterisk"></i>
                  </div>
                </div>
              </div>
              <div class="field">
                <label>Password</label>
                <div class="ui left labeled icon input">
                  <input type="password">
                  <i class="lock icon"></i>
                  <div class="ui corner label">
                    <i class="icon asterisk"></i>
                  </div>
                </div>
              </div>

              <button class="ui blue submit button">Register</button>
            </div>
          </div>
        </div>

      </div>


      <div class="item" id="user-details">
        <%= image_tag("demo/ivan.jpg", :width => '24') %>
        <span>Ivan</span>
      </div>
      <div class="item">
        <a href="#" id="wysh-list-toggler" title="Wysh List">
          <i class="unordered list icon"></i>
        </a>
        
        <div id="wish-list-brief" class="ui segment">
          <div class="ui header">
            Wysh List <a href="#">Change</a>
          </div>
          <div class="ui celled list">
            <div class="item">
              <%= image_tag("demo/Nextime-Old-fashioned-Turntable-Clock.jpg", :class => 'ui avatar image') %>
              <div class="content">
                <div class="header">Nextime Old-fashioned Turntable Clock</div>
                $88.61
              </div>
            </div>
            <div class="item">
              <%= image_tag("demo/238118e9dfa790712af9749c56c8ea16.jpg", :class => 'ui avatar image') %>
              <div class="content">
                <div class="header">As Tune As Possible Bag</div>
                $57.99
              </div>
            </div>
          </div> 
          <a href="#" class="ui positive fluid button new-wysh-list">Add New Wysh</a> 
        </div>

        <div id="new-list-modal" class="ui modal">
          <i class="close icon"></i>

          <div class="header">
            New Wysh List
          </div>
          <div class="content">
            <div class="ui form">
              <div class="field">
                <label>Name</label>
                <div class="ui left input">
                  <input type="text" placeholder="">
                </div>
              </div>
              <div class="field">
                <label>Date</label>
                <div class="ui left input">
                  <input type="text">
                </div>
              </div>
              <div class="field">
                <label>Description</label>
                <div class="ui left input">
                  <textarea name="description"></textarea>
                </div>
              </div>

              <button class="ui blue submit button">Create</button>
            </div>
          </div>
        </div>


      </div>
      <div class="item">
        <div class="ui icon input">
          <input type="text" placeholder="Search...">
          <i class="search link icon"></i>
        </div>
      </div>
    </div>

  </div>
</div>